@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(235, 235, 235);
}

input[type="radio"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  /* Not removed via appearance */
  margin: 0;

  font: inherit;
  color: currentColor;
  width: 1.05em;
  height: 1.05em;
  border: 0.1em solid #e6e6e6;
  border-radius: 50%;
  transform: translateY(-0.075em);
  transform: scale(1.3);
  margin-right: 2px;

  display: grid;
  place-content: center;
}

input[type="radio"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  /* Windows High Contrast Mode */
  background-color: #1597e4;
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

input[type="radio"]:focus {
  border: 2px solid #1597e4;
}
